    .bg-dots {
      background-image: radial-gradient(#494949 1px, transparent 0);
      background-size: 20px 20px;

      height: 100%;
    }

    svg.svg-overlay {
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 0;
      cursor: pointer;

    }

    .draggable {
      position: absolute;
      z-index: 1;
    }

    /* Common connection point styling */
    .conn-point {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
      pointer-events: auto;
    }

    /* Input points appear on the left */
    .input-conn-point {
      background: #4f46e5;
      left: -30px;
      border: 4px solid #000000;
      top: 50%;
      transform: translateY(-50%);
    }

    /* Output points appear on the right */
    .output-conn-point {
      background: #67e8f9;
      right: -30px;
      border: 4px solid #000000;
      top: 50%;
      transform: translateY(-50%);
    }

    .conn-point.selected {
      border: 4px solid red;
    }

    /* Node controls (for adding extra connection points) */
    .node-controls {
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 4px;
    }

    .node-controls button {
      font-size: 10px;
      padding: 2px 4px;
    }

    /* Global controls */
    .controls {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
    }

    .zoomable {
      position: relative;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      cursor: grab;
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: top left;
    }
